.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-toggle {
  display: flex;
  margin-bottom: 20px;
}

.login-toggle button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.login-toggle .active {
  background-color: #2E7D32;
}

.login-form, .register-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

.login-form h2, .register-form h2 {
  margin-bottom: 20px;
}

.login-form input, .register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.login-form button, .register-form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover, .register-form button:hover {
  background-color: #388E3C;
}
